* { 
  margin: 0px;
  padding: 0px;
}

header { 
  background-color: black;
  color: white;
  font-variant: small-caps;
  text-align: center;
}

header > h1 { 
  padding-top: 50px;
}

header > p { 
  padding-bottom: 50px;
}

section { 
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 50px;
}

section.normal { 
  background-color: rgb(255, 255, 255);
  color: rgb(48, 47, 47);
}

section.imagem { 
  background-color: rgb(70, 70, 70);
  color: white;
}

section.imagem > p { 
  width: 400px;
  background-color: rgba(0, 0, 0, 0.212);

}

footer { 
  background-color: black;
  color: white;
  text-align: center;
  height: 40px;
}

footer > p { 
  padding-top: 10px;
}