* { 
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body { 
    background-color:  rgb(138, 138, 138);
}

header { 
    background-color: rgb(138, 138, 138);
}

main { 

    background-color: rgba(219, 219, 219, 0.979);
    padding: 20px;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}



#menu { 
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    
}

#menu:hover { 
    background-color: rgb(236, 236, 236);
    color: black;
}


article > h2 { 
    margin-bottom: 15px;
}


article > p { 
    text-align: justify;
    text-indent: 15px;
    padding-top: 10px;
    margin-bottom: 5px;
}

h1 { 
    text-align: center;
    padding: 10px;
}

nav { 
    display: none;
   
 
}

nav > ul { 
    list-style-type: none;
}

nav > ul > li { 
    display: block;
    text-align: center;
    padding: 10px;
    background-color: rgb(116, 116, 116);
    border-top: 2px solid black;

}

li > a { 
    text-decoration: none;
    color: white;


}

ul > li:hover { 
    background-color: rgb(110, 110, 110);
}




